<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.email %></h1>
    <p>
      You have successfully reset your password. Your new temporary password is: <%= @temp_password %>
      <br/>
      Please do not forget to login and change your temp password.    
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>