<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi there,</p> 
    <p>Welcome to the TidePool family! Hope you are enjoying our personality and brain speed games :)</p>
    <p>Play multiple times a day (don’t worry, they’re short!) to see when you are most sharp during the day. It will also allow us to fine-tune our feedback to help improve your daily performance.</p>
    <p>As the CEO of TidePool, I want to personally thank you for allowing us to join you on this journey of self improvement. Your improvement is our commitment! </p>
    <p>Have a great day!</p>
    <p>-Vamsee</p>  
  </body>
</html>